
.modal {
    position: fixed;
    background-color: rgba(0, 0, 0 , 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
